<section class="about pt-100 min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="img">
                    <img src=" ./assets/Gallary//home-logo.png" alt="home-logo">
                </div>
            </div>
            <div class="col-md-7 text-center">
                <div class="about-cont ">
                    <h2 class="text-uppercase text-main">TRADITIONAL LUXURY MEETS MODERN
                        PLEASURE</h2>
                    <p>Our master confectioner learned his trade in one of the most important production facilities
                        in Syria;</p>
                    <p>Knowledge gathered from the great baklava masters Damascus.</p>
                    <p>In Berlin we’re going one step further:A fusion of traditional luxury and modern enjoyment is
                        the goal of <span class="text-main">AL JOUD</span>.. Discover the best baklava flavor made from
                        ingredients that our grandparents already knew.
                        ​</p>
                    <p>We deliberately do not use any artificial additives in our production.</p>
                    <p>There is only what belongs in it and that is of the highest quality!</p>
                </div>
                <div class="social-list py-3 text-center">
                    <a class=""><i class="fab fa-twitter fa-fw"></i></a>
                    <a class=""><i class="fab fa-facebook-f fa-fw"></i></a>
                    <a class=""><i class="fab fa-instagram fa-fw"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>