<section class="about pt-100 min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="img">
                    <img src=" ./assets/Gallary//home-logo.png" alt="home-logo">
                </div>
            </div>
            <div class="col-md-7 text-center">
                <div class="about-cont ">
                    <h2 class="text-uppercase text-main">{{'HOME.about1' | translate}}</h2>
                    <p>{{'HOME.about2' | translate}}</p>
                    <p>{{'HOME.about3' | translate}}</p>
                    <p>{{'HOME.about4' | translate}} <span class="text-main">{{'HOME.about5' | translate}}</span>.. {{'HOME.about6' | translate}}</p>
                    <p>{{'HOME.about7' | translate}}</p>
                    <p>{{'HOME.about8' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>