<section class="forgetpaswword-page pt-100 min-vh-100">
  <!-- Forget Password -->
  <div class="container" *ngIf="step1">
    <div class="forgetpaswword-title">
      <h2 class="text-uppercase font-color fw-bold">Forget Paswword</h2>
    </div>
    <hr />
    <form
      class="form-control border-0 p-0 pt-2"
      [formGroup]="forgetForm"
      (ngSubmit)="forgetPassword()"
    >
      <div class="row d-flex align-items-center justify-content-center">
        <div class="right col-md-12 text-center">
          <img
            class="img-forgetpaswword"
            src="./assets/Main-Logo.png"
            alt="Main-Logo"
          />
        </div>
        <div class="left col-md-12 text-center mt-4">
          <!-- Email -->
          <div class="form-group w-50 mx-auto">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Email-Address"
              required
            />
          </div>
          <div class="mt-1 text-center d-flex flex-column align-items-center">
            <button
              [disabled]="forgetForm.invalid"
              class="btn-main rounded rounded-5 w-25"
            >
              <i class="fas fa-spinner fa-spin fa-1 " *ngIf="isLoading"></i>
              Forget Password
            </button>
            <p
              *ngIf="msgError"
              class="alert alert-danger mt-3 p-2 rounded rounded-3 font-color bg-third border-dark-subtle"
            >
              {{ msgError }}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Reset Code -->
  <div class="container" *ngIf="step2">
    <div class="forgetpaswword-title">
      <h2 class="text-uppercase font-color fw-bold">Reset Code</h2>
    </div>
    <hr />
    <form
      class="form-control border-0 p-0 pt-2"
      [formGroup]="resetCodeForm"
      (ngSubmit)="resetCode()"
    >
      <div class="row d-flex align-items-center justify-content-center">
        <div class="right col-md-12 text-center">
          <img
            class="img-forgetpaswword"
            src="./assets/Main-Logo.png"
            alt="Main-Logo"
          />
        </div>
        <div class="left col-md-12 text-center mt-4">
          <!-- Email -->
          <div class="form-group w-50 mx-auto">
            <input
              formControlName="emailResetCode"
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              required
            />
            <!-- Errors -->
            <div
              *ngIf="
                resetCodeForm.get('email')?.errors &&
                resetCodeForm.get('email')?.touched
              "
            >
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="resetCodeForm.get('email')?.getError('required')"
              >
                Email Is Required
              </p>
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="resetCodeForm.get('email')?.getError('email')"
              >
                Email Invalid
              </p>
            </div>
          </div>
          <!-- Code -->
          <div class="form-group w-50 mx-auto">
            <input
              formControlName="emailResetCode"
              type="text"
              class="form-control"
              id="emailResetCode"
              placeholder="Reset Code"
              required
            />
            <!-- Errors -->
            <div
              *ngIf="
                resetCodeForm.get('code')?.errors &&
                resetCodeForm.get('code')?.touched
              "
            >
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="resetCodeForm.get('code')?.getError('required')"
              >
                Email Is Required
              </p>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group w-50 mx-auto">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              required
            />
            <!-- Errors -->
            <div
              *ngIf="
                resetCodeForm.get('password')?.errors &&
                resetCodeForm.get('password')?.touched
              "
            >
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="resetCodeForm.get('password')?.getError('required')"
              >
                Password Is Required
              </p>
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="resetCodeForm.get('password')?.getError('pattern')"
              >
                Password Must Start With UpperCase then From 6 to 10
              </p>
            </div>
          </div>
          <!-- password_confirmation -->
          <div class="form-group w-50 mx-auto">
            <input
              formControlName="password_confirmation"
              type="password"
              class="form-control"
              id="password_confirmation"
              placeholder="RePassword"
              required
            />
            <!-- Errors -->
            <div
              *ngIf="
                resetCodeForm.get('password_confirmation')?.errors &&
                resetCodeForm.get('password_confirmation')?.touched
              "
            >
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="
                  resetCodeForm
                    .get('password_confirmation')
                    ?.getError('required')
                "
              >
                RePassword Is Required
              </p>
              <p
                class="alert alert-danger mt-3 rounded rounded-3 font-color bg-third border-dark-subtle"
                *ngIf="
                  resetCodeForm
                    .get('password_confirmation')
                    ?.getError('pattern')
                "
              >
                RePassword Must match With Password
              </p>
            </div>
          </div>
          <div class="mt-1 text-center d-flex flex-column align-items-center">
            <button class="btn-main rounded rounded-5 w-25">
              <i class="fas fa-spinner fa-spin fa-1 " *ngIf="isLoading"></i>
              Rest code
            </button>
            <p
              *ngIf="msgError"
              class="alert alert-danger mt-3 p-2 rounded rounded-3 font-color bg-third border-dark-subtle"
            >
              {{ msgError }}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
