<section class="footer bg-third2 py-4  font-color">
    <div class="row  container-fluid">
        <div class="col-md-3 text-center">
            <div class="img">
                <img class="w-25" src="./assets/Main-Logo.png" alt="Main-Logo">
            </div>
        </div>
        <div class="col-md-3 col-6 col-sm-6">
            <div>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">History</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-6 col-sm-6">
            <div>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">History</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mx-auto">
            <div>
                <p>Subscribe to get special offers and free gifts.</p>
                <div class="form-floating m-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Enter Your Email</label>
                </div>
                <div class="social-list py-3 text-center">
                    <a class=""><i class="fab fa-twitter fa-fw"></i></a>
                    <a class=""><i class="fab fa-facebook-f fa-fw"></i></a>
                    <a class=""><i class="fab fa-instagram fa-fw"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="text-muted">© 2024 Aljoud. All rights reserved.</p>
        </div>
    </div>
</section>