<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'bg-nav':!isscrolling ,
  'color-nav': !isscrolling
 }">
  <div class="container">

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <!-- left-->
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center" [class]="isArabic == true ? 'ms-lg-auto':'me-lg-auto' " >
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active-link"
            routerLink="home">{{'NAVBAR.HOME' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase " aria-current="page" routerLinkActive="active-link"
            routerLink="about">{{'NAVBAR.ABOUT' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase " aria-current="page" routerLinkActive="active-link"
            routerLink="products">{{'NAVBAR.SHOP' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase " aria-current="page" routerLinkActive="active-link"
            routerLink="/category">{{'NAVBAR.Categories' | translate}}</a>
        </li>
        <!-- DropDown -->
        
        <!-- <li class="nav-item dropdown text-uppercase" aria-current="page" >
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu ">
            <li routerLinkActive="active-link"><a class="dropdown-item" routerLink="/category">Categories</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item">Another action</a></li>
          </ul>
        </li> -->
        <li class="nav-item dropdown text-uppercase" aria-current="page" routerLinkActive="active-link">
           <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'NAVBAR.Lang' | translate}}
          </a> 
           <ul class="dropdown-menu text-center ">
            <li><a class="dropdown-item" (click)="changeLanguage('ar')">{{'NAVBAR.AR' | translate}}</a></li>
            <li>
              <!-- <hr class="dropdown-divider"> -->
            </li>
            <li><a class="dropdown-item" (click)="changeLanguage('en')">{{'NAVBAR.EN' | translate}}</a></li>
            <li><a class="dropdown-item" (click)="changeLanguage('de')">{{'NAVBAR.DE' | translate}}</a></li>
          </ul>
          
        </li>
      </ul>

      <a class="navbar-brand" routerLink="home" [class]="isArabic == true ? 'ms-lg-auto':'me-lg-auto' ">
        <img class="w-100" src="./assets/Gallary/logo.png" alt="Aljoud">
      </a>
    </div>
    <a class="navbar-brand-left me-auto" routerLink="home">
      <img class="w-100" src="./assets/Gallary/logo.png" alt="Aljoud">
    </a>
    <!-- Right -->
    <div class="right d-flex flex-row gap-4 m-auto collapse align-items-center " id="navbarSupportedContent" >
      <!-- DropDown -->
      <li class="nav-item dropdown text-uppercase list-unstyled profile" aria-current="page" routerLinkActive="active-link"  *ngIf="isLoggedIn" >
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu " >
          <li >
            <a class="dropdown-item " role="button"><span>{{'NAVBAR.Welcome' | translate}}
              <!-- , {{ username }}! -->
            </span></a>
          </li>
          <li>
            <a class="dropdown-item " routerLink="/forgetpassword" routerLinkActive="active-link " role="button">{{'NAVBAR.FORGET' | translate}}</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item"  (click)="signOut()" >{{'NAVBAR.SIGNOUT' | translate}}</a></li>
        </ul>
      </li>
      <!-- -------------------------------------------------------------- -->
      <a class="navbar" aria-current="page" routerLink="login" *ngIf="!isLoggedIn" (click)="login()">
        <a class="nav-link text-uppercase text-main px-1" routerLinkActive="text-main" routerLink="login">{{'NAVBAR.LOGIN' | translate}}</a>
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <a class="navbar" aria-current="page" routerLink="cart">
        <a class="nav-link text-uppercase text-main px-1" routerLinkActive="text-main" routerLink="cart">{{'NAVBAR.Cart' | translate}}</a>
        <div class="position-relative">
          <i class="fas fa-shopping-cart fa-1x "></i>
        <!-- <span class="badge  position-absolute bottom-50 start-50"> 0 </span> -->
        </div>
      </a>

    </div>
    <button class="navbar-toggler" id="toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>