nav{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: transparent !important;
}
img{
    height: 46px;
    object-fit: cover;
}
.navbar-brand img{
    height: 52px !important;
    object-fit: cover;
}
.navbar-brand-left img{
    height: 52px !important;
    object-fit: cover;
}
a:not(.dropdown-item){
    color: var(--main-color) ;
}    
.dropdown-menu {
    top:55px !important
}
.social-list a {
    font-size: 18px;
    transition: all 0.5s ease-in-out !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
}
.social-list a:hover{
    color: var(--secondary-color) !important;
}
.navbar a{
    font-family: "Encode Sans Expanded", sans-serif;
    transition:all 0.5s ease-in-out !important;
    -webkit-transition:all 0.5s ease-in-out !important;
    -moz-transition:all 0.5s ease-in-out !important;
    -ms-transition:all 0.5s ease-in-out !important;
    -o-transition:all 0.5s ease-in-out !important;
}

.navbar .right i{
    margin-left: 7px !important;
}
.dropdown-menu {
    background-color: var(--main-color);
}
.bg-nav{
    background-color: var(--third-color) !important;
    color: #fff !important;
}
.color-nav{
    color: #fff !important;
}


.profile{
    padding: 7px !important;
    color: #fff !important;
    background-color: transparent !important;
}
/* .show{
    background-color: #b9935a;
} */

.navbar-nav .nav-link{
    /* padding: auto 7px !important; */
    padding-left: 7px !important;
    padding-right: 7px !important;
}
@media (max-width: 768px){
    .navbar-brand{
        display: none !important;
    }
}
@media (min-width: 992px){
    .navbar-brand{
        display: block;
    }
    .navbar-brand-left
    {
        display: none !important;
    }
    
}
@media (max-width: 768px) {
    .navbar-brand-left,
    .navbar-brand {
      max-width: 120px; /* Smaller logo on mobile screens */
    }
  }
  
  @media (max-width: 480px) {
    .navbar-brand-left,
    .navbar-brand {
      max-width: 70px; /* Even smaller logo for very small screens */
    }
  }



  .navbar.active {
    background-color: #b9935a; /* لون جديد عند الضغط */
    color: #ffffff; /* لون النص في الوضع النشط */
  }
  

  .text-start {
    text-align: start;
  }
  .text-end {
    text-align: end;
  }
  .ms-auto {
    margin-inline-start: auto;
  }
  .me-auto {
    margin-inline-end: auto;
  }
  .ms-2 {
    margin-inline-start: 0.5rem;
  }
  .me-2 {
    margin-inline-end: 0.5rem;
  }
  