.btn-up{
    position: fixed;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 99999;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--main-color) !important;
    color: white !important;
}