.btn-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--main-color);
}